
#navBar {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
}

li {
    list-style: none;
    font-size: 30px;
    color: rgba(0, 255, 68, 0.616);
    font-family: 'Klee One', cursive;
}

li:hover{
    color: white;
}

a {
    font-family: 'Klee One', cursive;
}

.cartWidget{
    padding-left: 100px;
}

#navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    position: relative;

    color: rgb(255, 255, 255);

}

.submenu {
    padding: 10px;
    visibility: hidden;
    position: absolute;
    color: rgb(249, 249, 249);
}

.submenu li {
    width: 100px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.menuItem:hover {
    font-weight: 700px;
    color: rgb(255, 255, 255);
}

.menuItem:hover .submenu {
    visibility: visible;
}

.fa-solid{
    font-size: 3rem;
    bottom: 2rem;
    margin-left: 500px;
}